body {
  background-color: hsl(235, 16%, 14%);
  background-image: url(images/pattern-hills.svg), url(images/bg-stars.svg), linear-gradient(0deg, #2f2439, hsl(235, 16%, 14%));
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: auto;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

p {
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin: 0 64px 70px 64px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
      margin-bottom: 15%;
  font-size: 12px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: hsl(237, 18%, 59%);
}

body{
  font-family: 'Red Hat Text', sans-serif;
}

body{
  font-family: 'Red Hat Text', sans-serif;
}

.card{
  width: 135px;
  height: 135px;
  background-color: hsl(236, 21%, 26%);
  border-radius: 5px;
  margin: 25px 15px;
  box-shadow: 0 9px #0000003b;
  position: relative;
  color: hsl(345, 95%, 68%);
  z-index:-3;
  perspective: 500px;
}

.Top-half-back{
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
  position: absolute;
  z-index:-2;
  overflow: hidden;
  background-color: #2c2c44;
}

.top-half-back-text{
  height: 135px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 65px;
}

.top-half{
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
  position: absolute;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.front-top, .back-top{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px 5px 0 0;
}

.front-top{
    background-color: #2c2c44;
}

.back-top{
  transform: rotateY(180deg);
  background-color: hsl(236, 21%, 26%);
}

.front-text, .back-text{
  margin: 0;
    height: 135px;
    display: flex;
    width: 100%;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}

.back-text{
  transform: rotate(180deg);
}

.bottom-half{
  width: 100%;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: -1px;
    border-top: solid 1px #191a2445;
    box-shadow: 0 -1px #ffffff12;
  overflow: hidden;
}

.bottom-text{
  position: absolute;
  bottom: 0px;
  height: 135px;
  width: 100%;
  margin: 0;
      display: flex;
    align-items: center;
    justify-content: center;
background-color: hsl(236, 21%, 26%);
  z-index:-1;
    font-size: 65px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 46%;
}

.left-dot {
  left: -5px;
  background-image: linear-gradient(90deg, transparent 50%, black 50%);
}

.right-dot {
  right: -5px;
  background-image: linear-gradient(90deg, black 50%, transparent 50%);
}

.social-media{
  text-align: center;
  position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
}

.social-media img{
  padding: 15px;
}

.social-media img:hover{
  filter: invert(77%) sepia(55%) saturate(6929%) hue-rotate(312deg) brightness(103%) contrast(97%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 710px) {
body{
  background-size: contain;
}
p {
    font-size: 22px;
}
}
